In [2]:

import pandas as pd

l=["Вася", "Петя", "Коля"]
ser = pd.Series(l)
print(ser)

0    Вася
1    Петя
2    Коля
dtype: object

In [3]:
ser = pd.Series(l,index=['a', 'b', 'c'])
print(ser)

a    Вася
b    Петя
c    Коля
dtype: object

In [6]:
 car = pd.DataFrame({'speed': ['100','200','300'],
                     'model': ['model 01' , 'model 02' , 'mofel 03'],
                     'mark ': ['mark 01' , 'mark 02' , 'mark 03']
                    })
car

  speed     model    mark
0   100  model 01  mark 01
1   200  model 02  mark 02
2   300  mofel 03  mark 03